*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

button {
  cursor: pointer;
}

/* Main */
.main {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.filter-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px;
}

.create-search {
  width: 60%;
}

.create-search button {
  margin-right: 20px;
}

.search-transaction {
  background-color: #eff3f4;
  border: none;
  outline: none;
  font-size: 17px;
  border-radius: 50px;
  padding: 10px;
  padding-left: 30px;
}
.create-search__add-btn {
  background-color: #26890d;
  width: max-content;
  padding: 10px;
  border: none;
  color: white;
}

.category-filter {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #26890d;
  color: white;
  border: none;
  outline: none;
}

.category-filter option {
  border-top: 1px solid white;
}

/* Transaction Form */
.transaction-form {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 20px 10px;
  box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 2px 4px 6px -1px rgba(0, 0, 0, 0.39);
}

.transaction-form__form {
  display: flex;
  justify-content: space-between;
}

.transaction-form__wraper {
  display: inline-block;
}

.transaction-form__wraper #description {
  width: 300px;
}

.transaction-form__wraper #amount {
  width: 100px;
}
.transaction-form__input,
.transaction-form_select-filter {
  display: block;
  margin-right: 10px;
  background-color: #eff3f4;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 10px;
  padding-left: 30px;
}

.transaction-form__submit {
  margin: 25% auto;
  background-color: #26890d;
  width: 100px;
  height: max-content;
  padding: 10px;
  border: none;
  color: white;
}

.center {
  font-size: 20px;
  margin: 20%;
  opacity: 0.6;
}

/* Transaction sort */
.trans-sort i {
  cursor: pointer;
}

.negative-amount {
  color: red;
}
